<div style="text-align: center; font-size: 50px;font-family: 'Arial', sans-serif;">
    PROYECTO HACIENDA BRASILEÑA
</div>

### Importación de las librerias necesarias

In [2]:
import pandas as pd
import numpy as np
from src import soporte_limpieza as sl
import os
pd.set_option('display.max_columns', None)

## Importación de archivos, con el encoding latin y el separador ;

In [3]:
dir_list = os.listdir("datos/")

In [4]:
dir_list

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [5]:
diccionario_dfs = {}

In [6]:
for i in dir_list [:-1]:
    nombre_df = str(i.replace(".","-").split("-")[1]) + "df"
    diccionario_dfs [nombre_df] = pd.read_csv(f"datos/{i}", encoding='latin-1', sep=';', index_col=0,)

In [7]:
for nombre_df, df in diccionario_dfs.items():
    diccionario_dfs[nombre_df] = df.reset_index()

In [8]:
diccionario_dfs ["2013df"].head(2)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0,0,"1297,13",0,31/12/2013,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0,0,"26666621,42",0,31/12/2013,2013

In [9]:
for key,valor in diccionario_dfs.items():
    print(f"El dataframe {key} tiene el siguiente shape {valor.shape}")

El dataframe 2013df tiene el siguiente shape (4498, 16)
El dataframe 2014df tiene el siguiente shape (4553, 16)
El dataframe 2015df tiene el siguiente shape (4523, 16)
El dataframe 2016df tiene el siguiente shape (194533, 16)
El dataframe 2017df tiene el siguiente shape (190479, 16)
El dataframe 2018df tiene el siguiente shape (173944, 16)
El dataframe 2019df tiene el siguiente shape (176828, 16)
El dataframe 2020df tiene el siguiente shape (142348, 16)
El dataframe 2021df tiene el siguiente shape (134593, 16)

## Diccionario para cambiar el nombre de las columnas a idioma español

In [26]:
traducciones = {
    'CÓDIGO ÓRGÃO SUPERIOR': 'Codigo_del_Órgano_Superior',
    'NOME ÓRGÃO SUPERIOR': 'Nombre_del_Órgano_Superior',
    'CÓDIGO ÓRGÃO': 'Código_del_Órgano',
    'NOME ÓRGÃO': 'Nombre_del_Órgano',
    'CÓDIGO UNIDADE GESTORA': 'Código_de_la_Unidad_Gestora',
    'NOME UNIDADE GESTORA': 'Nombre_de_la_Unidad_Gestora',
    'CATEGORIA ECONÔMICA': 'Categoría_Económica',
    'ORIGEM RECEITA': 'Origen_del_Ingreso',
    'ESPÉCIE RECEITA': 'Especie_de_Ingreso',
    'DETALHAMENTO': 'Desglose',
    'VALOR PREVISTO ATUALIZADO': 'Valor_Previsto_Actualizado',
    'VALOR LANÇADO': 'Valor_Registrado',
    'VALOR REALIZADO': 'Valor_Realizado',
    'PERCENTUAL REALIZADO': 'Porcentaje_Realizado',
    'DATA LANÇAMENTO': 'Fecha_de_Registro',
    'ANO EXERCÍCIO': 'Año_de_Ejercicio'
}

In [29]:
for key, valor in diccionario_dfs.items():
    diccionario_dfs[key] = valor.rename(columns=traducciones)

In [32]:
diccionario_dfs ["2014df"].head(2)

,Codigo_del_Órgano_Superior,Nombre_del_Órgano_Superior,Código_del_Órgano,Nombre_del_Órgano,Código_de_la_Unidad_Gestora,Nombre_de_la_Unidad_Gestora,Categoría_Económica,Origen_del_Ingreso,Especie_de_Ingreso,Desglose,Valor_Previsto_Actualizado,Valor_Registrado,Valor_Realizado,Porcentaje_Realizado,Fecha_de_Registro,Año_de_Ejercicio
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,"0,00","0,00","46699948,08","0,00",31/12/2014,2014
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS,"0,00","0,00","15920,83","0,00",31/12/2014,2014

In [36]:
df_concat = pd.concat(diccionario_dfs, axis=0)

In [37]:
df_concat.to_csv('archivo_concatenado.csv', index=False)

In [38]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1026299 entries, ('2013df', np.int64(0)) to ('2021df', np.int64(134592))
Data columns (total 16 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Codigo_del_Órgano_Superior   1026299 non-null  int64
 1   Nombre_del_Órgano_Superior   1026299 non-null  object
 2   Código_del_Órgano            1026299 non-null  int64
 3   Nombre_del_Órgano            1026299 non-null  object
 4   Código_de_la_Unidad_Gestora  1026299 non-null  int64
 5   Nombre_de_la_Unidad_Gestora  1026299 non-null  object
 6   Categoría_Económica          1026299 non-null  object
 7   Origen_del_Ingreso           1026299 non-null  object
 8   Especie_de_Ingreso           1026299 non-null  object
 9   Desglose                     1026299 non-null  object
 10  Valor_Previsto_Actualizado   1026299 non-null  object
 11  Valor_Registrado             1026299 non-null  object
 12  Valor_Realizado              1026299 non-null  object
 13  Porcentaje_Realizado         1026299 non-null  object
 14  Fecha_de_Registro            1025721 non-null  object
 15  Año_de_Ejercicio             1026299 non-null  int64
dtypes: int64(4), object(12)
memory usage: 135.7+ MB

In [39]:
df_concat.describe().T

,count,mean,std,min,25%,50%,75%,max
Codigo_del_Órgano_Superior,1026299.0,32050.523288,10612.547085,20000.0,25000.0,26000.0,39000.0,81000.0
Código_del_Órgano,1026299.0,31435.161341,10382.647574,20101.0,25201.0,26298.0,36000.0,91214.0
Código_de_la_Unidad_Gestora,1026299.0,231293.743317,144178.420681,110005.0,154003.0,170013.0,250088.0,913001.0
Año_de_Ejercicio,1026299.0,2018.225555,1.737966,2013.0,2017.0,2018.0,2020.0,2021.0

In [40]:
df_concat.describe(include="O").T

,count,unique,top,freq
Nombre_del_Órgano_Superior,1026299,29,Ministério da Educação,361891
Nombre_del_Órgano,1026299,294,Ministério da Economia - Unidades com vínculo ...,119811
Nombre_de_la_Unidad_Gestora,1026299,356,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,108481
Categoría_Económica,1026299,5,Receitas Correntes,979596
Origen_del_Ingreso,1026299,15,Outras Receitas Correntes,322907
Especie_de_Ingreso,1026299,63,Serviços Administrativos e Comerciais Gerais,278157
Desglose,1026299,1886,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,159039
Valor_Previsto_Actualizado,1026299,18737,"0,00",1004834
Valor_Registrado,1026299,6791,"0,00",1014634
Valor_Realizado,1026299,606175,"0,00",20303
Porcentaje_Realizado,1026299,1311,"0,00",1016488
Fecha_de_Registro,1025721,2157,31/12/2014,4553

## Normalizacion de datos.

In [41]:
df_concat["Valor_Registrado"].unique()

array(['0', '36048631136', '10598172567', ..., '98529,36', '-41518,08',
       '41518,08'], dtype=object)

In [42]:
 
df_concat["Valor_Registrado"] = df_concat["Valor_Registrado"].map(sl.convertir_comas_a_puntos)

In [43]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1026299 entries, ('2013df', np.int64(0)) to ('2021df', np.int64(134592))
Data columns (total 16 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Codigo_del_Órgano_Superior   1026299 non-null  int64
 1   Nombre_del_Órgano_Superior   1026299 non-null  object
 2   Código_del_Órgano            1026299 non-null  int64
 3   Nombre_del_Órgano            1026299 non-null  object
 4   Código_de_la_Unidad_Gestora  1026299 non-null  int64
 5   Nombre_de_la_Unidad_Gestora  1026299 non-null  object
 6   Categoría_Económica          1026299 non-null  object
 7   Origen_del_Ingreso           1026299 non-null  object
 8   Especie_de_Ingreso           1026299 non-null  object
 9   Desglose                     1026299 non-null  object
 10  Valor_Previsto_Actualizado   1026299 non-null  object
 11  Valor_Registrado             1026299 non-null  float64
 12  Valor_Realizado              1026299 non-null  object
 13  Porcentaje_Realizado         1026299 non-null  object
 14  Fecha_de_Registro            1025721 non-null  object
 15  Año_de_Ejercicio             1026299 non-null  int64
dtypes: float64(1), int64(4), object(11)
memory usage: 135.7+ MB

In [44]:
df_concat["Valor_Realizado"] = df_concat["Valor_Realizado"].map(sl.convertir_comas_a_puntos)

In [45]:
df_concat["Porcentaje_Realizado"].unique()

array([0, 154, 54, ..., '-282,00', '460,00', '39232,00'], dtype=object)

In [49]:
df_concat["Porcentaje_Realizado"] = df_concat["Porcentaje_Realizado"].map(sl.convertir_comas_a_puntos)

AttributeError: 'int' object has no attribute 'replace'

In [47]:
df_concat["Valor_Previsto_Actualizado"] = df_concat["Valor_Previsto_Actualizado"].map(sl.convertir_comas_a_puntos)

In [48]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1026299 entries, ('2013df', np.int64(0)) to ('2021df', np.int64(134592))
Data columns (total 16 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Codigo_del_Órgano_Superior   1026299 non-null  int64
 1   Nombre_del_Órgano_Superior   1026299 non-null  object
 2   Código_del_Órgano            1026299 non-null  int64
 3   Nombre_del_Órgano            1026299 non-null  object
 4   Código_de_la_Unidad_Gestora  1026299 non-null  int64
 5   Nombre_de_la_Unidad_Gestora  1026299 non-null  object
 6   Categoría_Económica          1026299 non-null  object
 7   Origen_del_Ingreso           1026299 non-null  object
 8   Especie_de_Ingreso           1026299 non-null  object
 9   Desglose                     1026299 non-null  object
 10  Valor_Previsto_Actualizado   1026299 non-null  float64
 11  Valor_Registrado             1026299 non-null  float64
 12  Valor_Realizado              1026299 non-null  float64
 13  Porcentaje_Realizado         1026299 non-null  object
 14  Fecha_de_Registro            1025721 non-null  object
 15  Año_de_Ejercicio             1026299 non-null  int64
dtypes: float64(3), int64(4), object(9)
memory usage: 135.7+ MB

In [294]:
df_concat.describe().T

,count,mean,std,min,25%,50%,75%,max
Código_del_Órgano,1026299.0,3.143516e+04,1.038265e+04,2.010100e+04,25201.000,26298.00,36000.000,9.121400e+04
Código_de_la_Unidad_Gestora,1026299.0,2.312937e+05,1.441784e+05,1.100050e+05,154003.000,170013.00,250088.000,9.130010e+05
Valor_Previsto_Actualizado,1026299.0,2.761142e+07,3.393367e+09,-2.147737e+08,0.000,0.00,0.000,1.603522e+12
Valor_Registrado,1026299.0,5.242806e+06,8.108837e+08,-1.483473e+11,0.000,0.00,0.000,3.571607e+11
Valor_Realizado,1026299.0,2.498042e+07,1.406892e+09,-1.562859e+11,260.905,3022.32,40853.855,7.711177e+11
Porcentaje_Realizado,1021801.0,7.626870e+01,7.161738e+04,-1.145520e+05,0.000,0.00,0.000,7.236377e+07
Año_de_Ejercicio,1026299.0,2.018226e+03,1.737966e+00,2.013000e+03,2017.000,2018.00,2020.000,2.021000e+03

In [295]:
df_concat["Año_de_Ejercicio"].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [296]:
valores_0 = (df_concat["Porcentaje_Realizado"] == 0).sum()
valores_0

np.int64(1016488)

In [297]:
porcentaje_0 = valores_0/df_concat["Porcentaje_Realizado"].count()*100
porcentaje_0

np.float64(99.4800357408145)

## 99% de los valores de Porcentaje Realizado son 0

In [298]:
duplicados = df_concat.duplicated().sum()
duplicados

np.int64(0)

##

## No hay duplicados en el df_concat

In [299]:
df_concat.head(5)

,Nombre_del_Órgano_Superior,Código_del_Órgano,Nombre_del_Órgano,Código_de_la_Unidad_Gestora,Nombre_de_la_Unidad_Gestora,Categoría_Económica,Origen_del_Ingreso,Especie_de_Ingreso,Desglose,Valor_Previsto_Actualizado,Valor_Registrado,Valor_Realizado,Porcentaje_Realizado,Fecha_de_Registro,Año_de_Ejercicio
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,NaN,31/12/2013,2013
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.0,0.0,26666621.42,NaN,31/12/2013,2013
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,0.0,0.0,301251.13,NaN,31/12/2013,2013
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,0.0,0.0,1855.58,NaN,31/12/2013,2013
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,0.0,0.0,52140.68,NaN,31/12/2013,2013

## Filtrado datos

In [300]:
df_concat["Desviacion"] = df_concat["Valor_Realizado"] - df_concat["Valor_Previsto_Actualizado"]
df_concat.head()

,Nombre_del_Órgano_Superior,Código_del_Órgano,Nombre_del_Órgano,Código_de_la_Unidad_Gestora,Nombre_de_la_Unidad_Gestora,Categoría_Económica,Origen_del_Ingreso,Especie_de_Ingreso,Desglose,Valor_Previsto_Actualizado,Valor_Registrado,Valor_Realizado,Porcentaje_Realizado,Fecha_de_Registro,Año_de_Ejercicio,Desviacion
CÓDIGO ÓRGÃO SUPERIOR,,,,,,,,,,,,,,,,
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,NaN,31/12/2013,2013,1297.13
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.0,0.0,26666621.42,NaN,31/12/2013,2013,26666621.42
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,0.0,0.0,301251.13,NaN,31/12/2013,2013,301251.13
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,0.0,0.0,1855.58,NaN,31/12/2013,2013,1855.58
63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,0.0,0.0,52140.68,NaN,31/12/2013,2013,52140.68